name: Build and Deploy to EC2

on:
  push:
    branches: ["testing"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build Frontend (Baking in the API URL)
      - name: Build and Push frontend
        uses: docker/build-push-action@v4
        with:
          context: ./client
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/job-portal-client:latest
          build-args: |
            VITE_API_URI=${{ secrets.VITE_API_URI }}

      # Build Backend
      - name: Build and Push backend
        uses: docker/build-push-action@v4
        with:
          context: ./server
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/job-portal-server:latest
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: SSH into EC2 and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            # 1. Create .env for Backend (Using the secrets you added)
            echo "MONGODB_URI=${{ secrets.MONGODB_URI }}" > .env
            echo "PORT=${{ secrets.PORT }}" >> .env
            echo "REDIS_URL=${{ secrets.REDIS_URL }}" >> .env
            echo "FRONTEND_URL=${{ secrets.FRONTEND_URL }}" >> .env

            # 2. Create docker-compose.yml on the fly
            cat <<EOF > docker-compose.yml
            version: '3.8'
            services:
              frontend:
                image: ${{ secrets.DOCKER_USERNAME }}/job-portal-client:latest
                ports:
                  - "80:80"
                pull_policy: always
                restart: unless-stopped
              server:
                image: ${{ secrets.DOCKER_USERNAME }}/job-portal-server:latest
                ports:
                  - "8000:8000"
                env_file: .env
                pull_policy: always
            EOF

            docker compose down
            docker compose up -d
